.listSearch{
    flex:1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.lsTitle{
    font-weight: 700;
    font-size: 20px;
    color: #555;
    margin-bottom: 14px;
}

.lsItem{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.lsDate{
    width: 243px;
}

.lsItem>label{
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 3px;
}

.lsItem>input{
    height: 30px;
    border: none;
    padding: 5px;
    background-color: white;
}
.lsItem>span{
    width: max-content;
    height: 30px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    align-items: center;
}

.lsOptionItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: #555;
}

.lsOptionTitle>small{
    font-size: 11px;
}

.lsOptionItem>input{
    width: 50px;
}

.lsOptionItem>span{
    font-size: 14px;
}

.lsButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    background: linear-gradient(to bottom , #0c1b7c, #0b2489, #031b96);
    border: none;
    margin-top: 5px;
    font-weight: 500;
    cursor: pointer;
}