.header {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #000000, #0a0a4e, #040476);
    color: white;
    padding-top: 5px;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
    margin: 20px 0px 0px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    cursor: pointer;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerTitle {
    display: flex;
    align-items: center;
}

.headerDesc {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.headerBtn {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    background: linear-gradient(to top , #240cde, #1313d9, #030396);
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.headerSearch {
    height: 30px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    background-color: white;
    border: 3px solid  #ffbb00;
    border-radius: 5px;
    width: 100%;
    max-width: 1024px;
    bottom: -25px;
    position: absolute;
    z-index: 2;
}

.headerSearchItem {
    display: flex;
    gap: 10px;
    align-items: center;
    color: lightgray;
}

.searchInput {
    border: none;
    outline: none;
    color: lightgray;
}

.headerSearchText {
    cursor: pointer;
}

.date {
    position: absolute;
    top: 50px;
    ;
}

.options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-out;
}

.optionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 10px;
    width: 200px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}