.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 300;
    font-family: 'Playfair Display', serif;
}

.navItems {
    display: flex;
    justify-content: center;
}

.navButton {
    margin-left: 20px;
    color: #003580;
    background-color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}